/*!
 * Start Bootstrap - Business Casual Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.box .header {
    height: 252px;
    /*background: url(/img/top_bg.png);*/
    text-align: center;
    margin: 7% auto;
}

.seq .seq-in {
    z-index: 0;
}

.box .header .logo {
    background: url(/img/radl_logo.png) top center no-repeat;
    width: 295px;
    height: 240px;
    position: relative;
    top: -6.3rem;
    z-index: 1;
    left: 3%;
}

.box .header .header_left p {
    font-family: Charming;
    font-size: 2.6rem;
    color: #fefefe;
    line-height: 55px;
    /*text-align: center;*/
}

.box .header .header_left {
    background: url(/img/header_left_bg.png) top center;
    float: left;
    position: relative;
    left: 4rem;
    z-index: 1;
    top: 1rem;
}

/*.brdr_tp_btm {
    border-top: 5px dotted #c54b3c;
    border-bottom: 5px dotted #c54b3c;
}*/

.box .header .header_left p span {
    font-size: 9.7rem;
}

.box .header .header_right {
    background: url(/img/header_right_bg.png) top center no-repeat;
    float: right;
    position: relative;
    right: -7rem;
    z-index: 1;
    top: 1rem;
}

.box .header .header_right p {
    font-family: Toscania;
    font-size: 34px;
    color: #fefefe;
    line-height: 1.3;
    position: relative;
    top: 4px;
}

.box .header_right p .right_top {
    font-family: ScriptR;
    font-size: 3.4rem;
    color: #fefefe;
}

.box .header_right p .right_middle {
    font-family: Toscania;
    font-size: 4.6rem;
    color: #fefefe;
}

.box .header_right p .right_bottom {
    font-family: Novito;
    font-size: 3.1rem;
    color: #fefefe;
    letter-spacing: 3rem;
    padding-left: 23px;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    /*padding: 30px 15px;*/
    background: url(/img/content_bg_.png) center top no-repeat;
    height: 148rem;
    /*padding: 30px 35px 0 50px;*/
    /*background: #fff;
    background: rgba(255,255,255,0.9);*/
}

.bike {
    margin: 3px 0 20px -11px;
}

.bike .bike_side {
    padding-top: 2rem;
    position: relative;
    left: 2.3rem;
    width: 71%;
}

.fact_img {
    position: relative;
    left: -4rem;
}

.social_icons {
    margin: 20px 10px 50px 10px;
    position: relative;
    left: 12%;
    right: 25%;
    top: 26px;
}

.icon {
    margin: 0 -15px;
}

.facts_text {
    text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 400;
    font-family: Charming;
    color: #fff;
    margin: 31px 0;
    letter-spacing: 5px;
}

.facts_div {
    margin-top: -45rem;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.facts_content_txt p {
    font-family: EngraversGothic;
    font-size: 1.8rem;
    color: #fff;
    line-height: 21px;
}

.video p {
    font-family: EngraversGothic;
    font-size: 1.77rem;
    color: #fff;
    line-height: 21px;
    margin-top: 5%;
}

/*.facts_div {
    padding-right: 35px;
    padding-left: 50px;
}*/
footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}


@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/*
.css-typing {
    width: 200px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 2s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type {
    from { width: 0; }
}

@-webkit-keyframes type {
    from { width: 0; }
}*/

#change_cherry_2 h5{
    position: relative;
    font-size: 36px;
    font-weight: normal;
    background: transparent;
    text-transform: none;
    /*text-align: center;*/
    color: #fff;
    font-style: normal;
    /*margin: 10px 0 0 10px;*/
    white-space: nowrap;
    overflow: hidden;
    padding-left: 37px;
    width: 11em;
    top: 51px;
    animation: type .5s steps(800, end);
}

#change_cherry_2 h5:nth-child(2)
{
    animation: type2 .7s steps(160, end);
    padding-left: 130px;
    width: 12.5em;
    position: relative;
    right: 70px;
}

#change_cherry_2 h5:nth-child(3)
{
    font-size: 36px;
    font-weight: normal;
    background: transparent;
    text-transform: none;
    /*text-align: center;*/
    color: #fff;
    font-style: normal;
    /*margin: 10px 0 0 10px;*/
    white-space: nowrap;
    overflow: hidden;
    /*padding-left: 75px;*/
    width: 12em;
    padding-left: 220px;
    right: 107px;
    animation: type3 1s steps(400, end);
}

/*#change_cherry_2 h5 a{
    color: lime;
    text-decoration: none;
}*/

/*span{
    animation: blink 1s infinite;
}*/

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    from { width: 0; }
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100%; }
}

@keyframes type3{
    from { width: 50%; }
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 80%; }
}

#change_grape_2 h5{
    position: relative;
    font-size: 36px;
    font-weight: normal;
    background: transparent;
    text-transform: none;
    /*text-align: center;*/
    color: #fff;
    font-style: normal;
    /*margin: 10px 0 0 10px;*/
    white-space: nowrap;
    overflow: hidden;
    padding-left: 75px;
    width: 11em;
    animation: type .5s steps(800, end);
}

#change_grape_2 h5:nth-child(2)
{
    animation: type2 .7s steps(160, end);
    /*padding-left: 0;*/
    width: 12.2em;
    position: relative;
    right: 23px;
}

#change_grape_2 h5:nth-child(3)
{
    font-size: 36px;
    font-weight: normal;
    background: transparent;
    text-transform: none;
    /*text-align: center;*/
    color: #fff;
    font-style: normal;
    /*margin: 10px 0 0 10px;*/
    white-space: nowrap;
    overflow: hidden;
    /*padding-left: 75px;*/
    width: 11.5em;
    /*padding-right: 50px;*/
    right: 5px;
    animation: type3 1s steps(400, end);
}

/*#change_grape_2 h5 a{
    color: lime;
    text-decoration: none;
}*/

/*span{
    animation: blink 1s infinite;
}*/

/*@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    from { width: 7%; }
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 95%; }
}

@keyframes type3{
    from { width: 50%; }
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 90%; }
}*/

/*@keyframes blink{
    to{opacity: .0;}
}*/

/*
::selection{
    background: black;
}*/

.hover10 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover10 figure:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(50%) blur(3px);
}


.hover14 figure {
    /*position: relative;*/
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*.hover7 figure:hover {
    opacity: 1;
    background: #000000;
}
.hover7 figure {
    opacity: .7;
}*/

/*.hover8 figure:hover {
    opacity: 1;
    background: #000000;
}
.hover8 figure {
    opacity: .8;
}*/

.seq .seq-model .hover7 img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    max-width: 100%;
}

.seq .seq-model .hover7 img:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
